# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & E2E
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local environment and secret files
.env*.local
.env
GITHUB_TOKEN.txt

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
